aclocal.m4
autom4te.cache
configure
ltmain.sh
m4/libtool.m4
m4/lt*.m4
Makefile.in
config.guess
config.sub
install-sh
missing
src/config.h.in
*~
=build*
build/
depcomp
++*
Makefile
.version
version.mk
config.log
config.status
libtool
*.o
config.h
stamp-h1
.deps
.libs
texinfo.tex
*.info
test/*.log
*.pc
src/*-clo.[ch]
info/*.h2m
info/*.man
ylwrap
test-driver
compile

*.swp

/build-aux
/info/dadd.manu
/info/dadd.texi
/info/dateadd.manu
/info/dateadd.texi
/info/dateconv.texi
/info/datediff.mand
/info/datediff.texi
/info/dategrep.texi
/info/dateround.manu
/info/dateround.texi
/info/dateseq.manu
/info/dateseq.texi
/info/datesort.texi
/info/datetest.texi
/info/datezone.texi
/info/dconv.texi
/info/ddiff.mand
/info/ddiff.texi
/info/dgrep.texi
/info/dround.manu
/info/dround.texi
/info/dseq.manu
/info/dseq.texi
/info/dsort.texi
/info/dtest.texi
/info/dzone.texi
/info/format-ddiff.th2m
/info/format.th2m
/info/strptime.texi
/info/units.th2m
/lib/fmt-special.c
/lib/libdut.a
/lib/ltrcc
/lib/ltrcc.yucc
/lib/tzmap
/lib/tzmap.yucc
/lib/tzraw
/lib/version.c
/src/dadd
/src/dadd.yucc
/src/dconv
/src/dconv.yucc
/src/ddiff
/src/ddiff.yucc
/src/dexpr-parser.c
/src/dexpr-parser.h
/src/dexpr-scanner.c
/src/dgrep
/src/dgrep.yucc
/src/dround
/src/dround.yucc
/src/dseq
/src/dseq.yucc
/src/dsort
/src/dsort.yucc
/src/dtest
/src/dtest.yucc
/src/dzone
/src/dzone.yucc
/src/libdutio.a
/src/strpdt-special.c
/src/strptime
/src/strptime.yucc
/test/clitosis.yucc
/test/dummy.tzmcc

